*{
    margin: 0;
}
.copntainer{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    height: 70vh;
    background-color: azure;
    align-items: center;

}
.form{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-radius: 7px;
    box-shadow: 1px 2px 5px 4px rgb(230, 230, 230) ;
    background-color: white;
    height: 32vh;
    padding: 15px;
}
.form input{
    padding: 15px;
    margin: 5px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    text-transform: uppercase;
    text-align: justify;
}
.log{
    padding: 12px;
    /* margin-top: 5px; */
    border-radius: 8px;
    background-color: dodgerblue;
    border: 0;
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 9px;
}
.log a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
li{
    list-style: none;
    text-align: center;
    margin: 7px;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgb(185, 182, 182);
    padding-bottom: 18px;
    margin-bottom: 25px;
}
.log:hover{
    background-color:  #1877f2;
}
.sign{
    /* padding: 15px;
    border-radius: 8px;
    background-color:#42b72a;;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 9px;
    width: 45%; */
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    width: 65%;
    display: block;
    margin: 0 auto;
    
}
.sign a{
    /* color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: ; */
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}
.paragraph{
    padding-right: 300px;
    padding-bottom: 100px;
    width: 350px;
}
.paragraph p{
 
    padding-left: 40px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.paragraph img{
    padding-right: 150px;
}
#under{
    padding-top: 23%;
    padding-left: 12%;
    width: 350px;
}
#under span{
    font-size: 16px;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#long{
    width: 40vw;
}